# cocoro-ugok5.github.ioheader {height: 30px;
}


p {
    margin-right: 80px;
  color: black;
}

body{background-color: mediumaquamarine 30px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;}


nav ul {
    padding-left: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    box-sizing: border-box;
    width: 170px;
    margin: 0 10px;
    background-color: white;
   
    border-radius: 10px;
}

img{margin-left: 40px;}
