@charset "UTF-8";

body{background-image: url(haikei_アートボード\ 1.png);
    background-color: brown;
    


    
}

nav ul {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 6px;
	list-style-type: none;
}
nav a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	color: white;
	text-decoration: none;
}